/**
 * Fonts
 */


// Raleway
@font-face {
  font-family: 'raleway';
  src: url('./fonts/raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('./fonts/raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('./fonts/raleway/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'raleway';
  src: url('./fonts/raleway/Raleway-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// For some reason, Light becomes the normal
@font-face {
  font-family: 'ralewaylight';
  src: url('./fonts/raleway/Raleway-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaylight';
  src: url('./fonts/raleway/Raleway-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
