/**
 * Layout
 */

.content-main {
  padding-left: 4em;
}

.welcome {
  @extend .vertical-block-container;
  position: absolute;
  width: 100%;
  height: 100%;

  .welcome-box {
    @extend .horizontal-block;

    width: 50%;
  }
}
